@model RecipeManager.Models.RecipeListViewModel

@{
    ViewBag.Title = "My Recipes";
}

<h2>User Recipes</h2>


<div class="panel-body"> 
    <!-- Recipe List table -->
    <table id="tableRecipes" class="table-bordered table-hover" >
        <thead>
            <tr> 
                <th>Recipe Id</th>
                <th>RecipeName</th>
                <th>View Recipe</th>
            </tr>   
        </thead>

        <tbody>
            @if (Model.Recipes != null)
            {

                foreach (var Recipe in Model.Recipes)
                {
                    <tr>
                        <td>@Recipe.RecipeId</td>
                        <td>@Recipe.RecipeName</td>
                        <td>@Html.ActionLink("View","Recipe","Recipes", new { RecipeId = Recipe.RecipeId})</td>
                        @* <td>@Recipe.Servings</td>
                            <td>@Recipe.MinutesToMake</td>
                            <td>@Recipe.Image</td>
                            <td>@Recipe.SourceName</td>*@
                    </tr>

                }

            }

           



        </tbody>





    </table>
</div>

